@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-size: 15px;
    background-color: #dfe0e8;
    background-image: url("https://www.transparenttextures.com/patterns/crisp-paper-ruffles.png");
   
}
